extends ../layout

block content
	h3 Notifications
	hr
	div.col-md-12
		h4 Add Notification
		div.col-md-6
			form(method="POST", action="/logicservers")
				div.form-group
					label(for="name") Name:
					input.form-control(required="required",type="text", name="name")				
				div.form-group
					label(for="hostname") Hostname: 
					input.form-control(required="required",type="text", name="hostname")				
				div.form-group
					label(for="port") Port: 
					input.form-control(required="required",type="text", name="port")
				div.col-md-offset-5
					input.btn.btn-success(required="required",type="submit", value="Submit")		
					input(type="hidden",name="app_id",value="#{app_id}")
block inPageScript
	script.
		