extends ../layout

block content
	h3 Gateway Type
	hr
	div.col-md-12
		h4 Add Gateway Type
		div.col-md-6
			form(method="POST", action="/gatewaytypes")
				div.form-group
					label(for="name") Name:
					input.form-control(required="required",type="text", name="name")									
				div.col-md-offset-5
					input.btn.btn-success(required="required",type="submit", value="Submit")		
block inPageScript
	script.
		